function Main.main 5
push constant 2
call Vint.new 1
pop local 0
push constant 2
call Vint.new 1
pop local 1
push local 0
push constant 0
push constant 1
call Vint.set 3
pop temp 0
push local 0
push constant 1
push constant 2
call Vint.set 3
pop temp 0
push local 0
push constant 2
push constant 3
call Vint.set 3
pop temp 0
push local 0
push constant 3
push constant 4
call Vint.set 3
pop temp 0
push local 1
push constant 0
push constant 4
call Vint.set 3
pop temp 0
push local 1
push constant 1
push constant 3
call Vint.set 3
pop temp 0
push local 1
push constant 2
push constant 2
call Vint.set 3
pop temp 0
push local 1
push constant 3
push constant 1
call Vint.set 3
pop temp 0
push local 0
call Vint.len 1
pop local 2
push local 1
call Vint.len 1
pop local 3
push local 2
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 3
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
pop local 4
push local 4
call Output.printInt 1
pop temp 0
call vector.Dispose 0
pop temp 0
push constant 0
return
